<%#  Listing of all Opportunities here %>
<%#  Using @orgs here %>

<%=# Adding a search form. --V.%>

  <%=form_tag (orgs_path method: :get) do %>
  Search <%= text_field_tag :search, params[:search] %>
    <%= sumbit_tag "Search", name: => nil %>
<% end %>

<% @orgs.each do |item| %>
<p><a href="/orgs/<%=item.id%>"><%= item.name %></a> :
</p>
  <%= link_to like_org_path(item), method: :put do %>
    Upvotes
    <%= item.get_upvotes.size %>
  <% end %>

  <%= link_to dislike_org_path(item), method: :put do %>
    Downvote
    <%= item.get_downvotes.size %>
  <% end %>
</p>



<% end %>
