<%#  Listing of all Opportunities here %>
<%#  Using @orgs here %>

<%=# Adding a search form. --V.%>
<%=form_tag orgs_path, :method => :get do %>
  <p><%= text_field_tag :search, params[:search] %>
    <%= sumbit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @orgs.each do |org| %>
<p><a href="/orgs/<%=org.id%>"> <%= org.name %> </a> :

<!--  Like/Unlike Section-->
    <%= octicon "heart" %>
    <%= org.get_likes.size %>
    Likes


</p>
<% end %>
